.grid {
  display: flex;
  flex-wrap: wrap;
}
.card {
    border-radius: 8px;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
    width: 250px;
    flex: 1 1 auto;
    max-width: 250px;
  }
  .flag {
    width: 100px;
    height: auto;
    border-radius: 4px;
  }