.card {
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
    width: 250px;
  }
  .flag {
    width: 100px;
    height: auto;
    border-radius: 4px;
  }